.idea/
.mvn/
target/
temp.txt/
Firstpass.jar
Firstpass_portable.jar
config.json
accounts.txt
installer files/Firstpass_setup.exe
Firstpass.exe
launch4j.log
firstpass.log
Firstpass_jre.zip
Firstpass_jre/